*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}
body{
    background-color: greenyellow;
    height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center; 
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    padding: 20px;
    border-radius: 5px;

    
}

/* designing the button */
button{
    padding: 5px 15px;
    font-weight: bold;
    font-size: 20px;
}

#displayValue{
    font-size: 25px;
    padding: 5px 15px;
    border: 1px solid black;
}